<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        {% for libro in data.libros %}
            <tr>
                <td>{{ libro.isbn }}</td>
                <td>{{ libro.titulo }}</td>
                <td>{{ libro.anoedicion }}</td>
                <td>{{ libro.autor.apellidos }}</td>
                <td>{{ libro.autor.nombres }}</td>
                <td>{{ libro.precio }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>